<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascripts/index.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
           <form method = "post", enctype = "multipart/form-data">
           <p><label for='logo'>Logo:</label>
                <input type="text" name="logo" id="logo" value="">
           </p>
                <input type = "file" name = "myimage" accept="image/png,image/gif,image/jpg,image/jpeg" multiple=true />
           <p>
                <input type = "file" name = "myimage2" accept="image/png,image/gif,image/jpg,image/jpeg" multiple=true />
           </p>
                <input type = "submit" name = "submit" value = "submit">
            </form>

  </body>
</html>
