<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascripts/index.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
           <form action = "/index" method = "GET" class = "form-inline">
                <div class = "form-group">
                    <input type = "text" name = "search" placeholder = "Search ... " class = "form-control">
                    <input type = "submit" value = "Search" class = "btn btn-default">
                </div>
            </form>

  </body>
</html>
