<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restaurant Guide</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/rest.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-light bg-white static-top">
    <div class="container-fluid">
        <div class="container middle">
            <a class="navbar-brand" href="index.html"><h2>Restaurant Guide</h2></a>
        </div>
        <div class="nav navbar-nav navbar-right ">
            <a class="btn btn-primary" href="#">Sign In</a>
        </div>
        <div class="nav navbar-nav navbar-right visible-xs visible-sm m-2">
            <a href="#" class="mobile-nav-taggle" id="mobile-nav-taggle">
                <span class=" navbar-toggler-icon"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container border-top border-bottom">
    <div class="row m-5">
        <div class="col-xs-8 col-md-8 col-center-block">

            <div class="row">
                <div id="restaurantNameInfo"></div>
            </div>
            <!--<div class="row">-->
            <!--<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">-->
            <!--<h2>Fire Pit</h2>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div id="reviewInfo"/>
            </div>
            <!--<div class="row">-->
            <!--<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">-->
            <!--<div class="float-left"><img src="images/rank3.JPG"/></div>-->
            <!--<div class="float-left small font-italic mt-1" >2333 reviews</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row col-center-block ">
                <div id="restaurantInfo"/>
            </div>
            <!--<div class="row col-center-block ">-->
            <!--<div class="col-md-6 col-lg-6 col-xl-6 p-1">-->
            <!--<p>Type of restaurant: <a href="#">xxx</a>, <a href="#">xxx</a>, <a href="#">xxx</a> <br></p>-->
            <!--<p>Type of cuisine: <a href="#">xxx</a>, <a href="#">xxx</a>, <a href="#">xxx</a><br></p>-->
            <!--<p>Address: xxxxxxx<br></p>-->
            <!--<p>Tel: xxxxxx<br></p>-->
            <!--<p>Postcode: xxxxx <br></p>-->
            <!--</div>-->
            <!--</div>-->

            <!-- picture -->
            <div class="row col-center-block mt-3 border-top">
                <div class="col-md-4 col-lg-4 col-xl-4 p-1 pt-3">
                    Know us:
                </div>
            </div>

            <!--<div class="row">-->
            <!--<div id="imgInfo"></div>-->
            <!--</div>-->
            <div class="row">
                <div id="imgInfo1" class="col-md-6 col-lg-6 column"></div>
                <div id="imgInfo2" class="col-md-6 col-lg-6 column"></div>
                <!--<div class="col-md-6 col-lg-6 column">-->
                <!--<div class="p-2 border w-100">-->
                <!--<img src="images/bg_index.jpg" class="img-fluid"/>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6 col-lg-6 column">-->
                <!--<div class="p-2 border w-100">-->
                <!--<img src="images/bg_index.jpg" class="img-fluid"/>-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <!-- map -->
            <div class="row mt-3 col-center-block">
                <div class="col-md-4 col-lg-4 col-xl-4 p-1">
                    Find us on the map:
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 column">
                    <div class="mr-2 p-2 border w-100">
                        <div data-role="page" id="map_result">
                            <div id="btnEnlarge" class="btn btn-primary btn-sm float-right position-absolute"
                                 style="z-index:999">Enlarge
                            </div>
                            <div class="m-0" id="map" style="z-index:1"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- review -->
            <div class="row mt-3 col-center-block border-top">
                <div class="col-md-4 col-lg-4 col-xl-4 p-2">
                    Give us your review:
                </div>
            </div>
            <form>
                <div class="row mt-3">
                    <div class="col-md-1 col-lg-1 col-xl-1 m-2">Rating:</div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mb-2">
                        <select id="star" class="custom-select">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>

                <div id="testReview">

                </div>

                <div class="form-group shadow-textarea">
                    <textarea class="form-control z-depth-1 p-2 m-0" required id="taComment" rows="3"
                              placeholder="Write your comments here..."></textarea>
                </div>
                <div class="row m-1 float-right">
                    <button id="commentBtn" type="button" class="btn btn-primary btn-sm">Comment</button>
                </div>
                <div class="row mt-3 col-center-block">
                    <label for="camera">Upload an image: </label>
                    <input class="small" type="file" accept="image/*" capture="camera" id="camera">
                    <input id="btnClear" type="button" class="btn btn-dark btn-sm" value="Clear">
                </div>

                <script src="http://localhost:8000/socket.io/socket.io.js"></script>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="footer bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 h-100 text-center my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- -->


</body>
</html>


<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/jquery-3.3.1.min.js"></script>
<script src="/scripts/detail.js"></script>
<script src="/javascripts/DetailView.js"></script>
<script src="https://maps.google.com/maps/api/js"></script>
</html>