<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/testJson.js"></script>

</head>
<body>
<h1><%= title %></h1>

<form id="xForm" onsubmit="onSubmitTest('/index')">
    <p><label for='restaurantname'>Restaurant name:</label>
        <input type="text" name="restaurantname" id="restaurantname"></p>
    <p><input type="submit" name="g" value="Search" id="g"></p>
</form>

<div id="div1" style="margin-top:30px"></div>
<div id="div2" style="margin-top:30px"></div>

<!--<div id="results" style="margin-top:30px"></div>-->

<a href="login">login</a>
<a href="register">register</a>

</body>
</html>
