<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>

</head>
<body>
<h1><%= title %></h1>


<form id=“xForm" onsubmit="onSubmit('/register')">
    <label for='useraccount'>account:</label>
    <input type="text" name="useraccount" id="useraccount" value="">
    <p><label for='userpassword'>password:</label>
        <input type="password" name="userpassword" id="userpassword" value="">
    </p>
    <p><label for='confirmpw'>confirm:</label>
        <input type="password" name="confirmpw" id="confirmpw" value="">
    </p>
    <p><input type="submit" name="register" value="Submit" id="register"></p>
</form>
<div id="results" style="margin-top:30px"></div>

</body>
</html>
