<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/rg.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
  <div class="row-fluid">
      <div class="col">
          <div class="container">
              <div class="row" >
                    <div class="col" id="content">
                        <div class=container-fluid">
                            <h2 class="text-center">Resturant Guide</h2>
                        </div>
                        <div class="container-fluid">
                            <form class="form-horizontal" role="form">
                               <div class="form-group row">
                                   <label for="keywords" class="col-sm-2 col-form-label">Search by Keywords</label>
                                   <div class="col">
                                       <input type="text" class="form-control" id="keywords"
                                                         placeholder="Please input keywords, e.g. restaurant name, type of food, postcode, etc.">
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label for="type" class="col-sm-2">Type of Restaurant</label>
                                   <div class="col-sm-8">
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox1" value="option1"> Restaurants
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox2" value="option2"> Bakeries
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox3" value="option3"> Pubs & Bars
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox4" value="option4"> Dessert
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox5" value="option5"> Coffee & Tea
                                       </label>
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label for="type" class="col-sm-2">Type of Cuisine</label>
                                   <div class="col-sm-6">
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox1" value="option1"> British
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox2" value="option2"> Italian
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox3" value="option3"> Chinese
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox3" value="option4"> American
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox1" value="option5"> Fast Food
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox1" value="option5"> Healthy Food
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox2" value="option6"> Indian
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox3" value="option7"> European
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox3" value="option8"> Mexican
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox1" value="option9"> Japanses
                                       </label>
                                       <label class="checkbox-inline">
                                           <input type="checkbox" id="inlineCheckbox2" value="option10 "> Vegetarian
                                       </label>
                                   </div>
                               </div>
                               <div class="form-group row">
                                  <div class="col">
                                      <div class="row">
                                          <div class="col-xs-2 col-sm-2 col-md-2"></div>
                                          <div>
                                              <button type="reset" class="btn btn-default" style="margin:0px 20px 0px 15px;width:80px">Reset</button>
                                          </div>
                                          <div style="overflow:hidden;">
                                          <button type="submit" class="btn btn-default" style="width:80px">Search</button>
                                          </div>
                                      </div>
                                  </div>
                               </div>
                           </form>
                        </div>
                    </div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-xs-0 col-sm-2 col-md-2"></div>
                            <div class="col">
                                <div class="row border-top item_line">
                                    <div class="item pic">
                                        <img src="images/1.jpg" class="img-rounded img-responsive">
                                    </div>
                                    <div class="col-xs-4 col-sm-6 col-md-6 item">
                                        <h6>Sheffield No.1 Dinning Hall</h6>
                                        <img src="images/rank5.jpg" class="img-rounded">
                                        <small>1203 reviews</small>
                                        <p>European British Contemporary Vegetarian Friendly Vegan Options</p>
                                        <small>"Lovely but very different now" 09/04/2018</small><br>
                                        <small>"Excellent" 06/04/2018</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-0 col-sm-0 col-md-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-0 col-sm-2 col-md-2"></div>
                            <div class="col">
                                <div class="row border-top item_line">
                                    <div class="item pic">
                                        <img src="images/2.jpg" class="img-rounded">
                                    </div>
                                    <div class="col-xs-4 col-sm-6 col-md-6 item">
                                        <h6>FirePit</h6>
                                        <img src="images/rank4.jpg" class="img-rounded">
                                        <small>1452 reviews</small>
                                        <p>American Burger Friendly Fish & Chips Options</p>
                                        <small>"Lovely but very different now" 09/04/2018</small><br>
                                        <small>"Excellent" 06/04/2018</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-0 col-sm-0 col-md-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-0 col-sm-2 col-md-2"></div>
                            <div class="col">
                                <div class="row border-top item_line">
                                    <div class="item pic">
                                        <img src="images/3.jpg" class="img-rounded">
                                    </div>
                                    <div class="col-xs-4 col-sm-6 col-md-6 item">
                                        <h6>COSMO</h6>
                                        <img src="images/rank3.jpg" class="img-rounded">
                                        <small>1232 reviews</small>
                                        <p>Barbecue Buffet Burger Beef Beer Desserts</p>
                                        <small>"Lovely but very different now" 09/04/2018</small><br>
                                        <small>"Excellent" 06/04/2018</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-0 col-sm-0 col-md-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-0 col-sm-2 col-md-2"></div>
                            <div class="col">
                                <div class="row border-top item_line">
                                    <div class="item pic">
                                        <img src="images/4.jpg" class="img-rounded">
                                    </div>
                                    <div class="col-xs-4 col-sm-6 col-md-6 item">
                                        <h6>Hot Chilli</h6>
                                        <img src="images/rank5.jpg" class="img-rounded">
                                        <small>1322 reviews</small>
                                        <p>Chinese Kongbao Chiken Fried Eggplant Roast Fish</p>
                                        <small>"Lovely but very different now" 09/04/2018</small><br>
                                        <small>"Excellent" 06/04/2018</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-0 col-sm-0 col-md-2"></div>
                        </div>

                    </div>  <!-- content ends-->

                    <!-- pagination -->
                    <h2></h2>
                    <div class="container">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
              </div>
          </div>
      </div>
  </div> <!-- outmost layer -->



    <!-- Optional JavaScript -->
    <!-- jQuery & Bootstrap JS -->
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
  </body>
</html>

